/* ===================================================== */
/* Tags */
/* ===================================================== */
body {
    margin: 0;
    padding: 0;
}

main {
    margin-top: 50px;
}

/* ===================================================== */
/* Classes */
/* ===================================================== */

/* ===================================================== */
/* IDs */
/* ===================================================== */
#search-button {
    width: 100%;
}